<div>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="event-name">Nombre del evento:</label>
      <input [ngClass]="{ 'isInvalid': eventForm.get('name')!.hasError('required') }"  (blur)="onBlur('name')" (focus)="onFocus('name')" id="event-name" formControlName="name" type="text"/>
      <small *ngIf="nameFocused && eventForm.get('name')!.hasError('required')">El nombre es <span>requerido</span>!</small>
    </div>
    <div class="form-group">
      <label for="date">Fecha: </label>
      <input [ngClass]="{ 'isInvalid': eventForm.get('date')!.hasError('required') }" (blur)="onBlur('date')" (focus)="onFocus('date')" type="text" formControlName="date"/>
      <small *ngIf="dateFocused && eventForm.get('date')!.hasError('required')">La fecha es <span>requerida</span>!</small>
    </div>
    <div class="form-group">
      <label for="time">Hora: </label>
      <input [ngClass]="{ 'isInvalid': eventForm.get('time')!.hasError('required') }" (blur)="onBlur('time')" (focus)="onFocus('time')" id="time" type="text" formControlName="time"/>
      <small *ngIf="timeFocused && eventForm.get('time')!.hasError('required')">La hora es <span>requerida</span>!</small>
    </div>

    <div formGroupName="location">
      <div class="form-group">
        <label for="address">Dirección: </label>
        <input [ngClass]="{ 'isInvalid': eventForm.get('location.address')!.hasError('required') }" (blur)="onBlur('address')" (focus)="onFocus('address')"  id="address" type="text" formControlName="address"/>
        <small *ngIf="addressFocused && eventForm.get('location.address')!.hasError('required')">La dirección es <span>requerida</span>!</small>
      </div>
      <div class="form-group">
        <label for="city">Ciudad: </label>
        <input [ngClass]="{ 'isInvalid': eventForm.get('location.city')!.hasError('required') }" (blur)="onBlur('city')" (focus)="onFocus('city')" id="city" type="text" formControlName="city"/>
        <small *ngIf="cityFocused && eventForm.get('location.city')!.hasError('required')">Laa ciudad es <span>requerida</span>!</small>
      </div>
      <div class="form-group">
        <label for="country">Pais: </label>
        <input [ngClass]="{ 'isInvalid': eventForm.get('location.country')!.hasError('required') || eventForm.get('location.country')!.hasError('pattern') }" (blur)="onBlur('country')" (focus)="onFocus('country')" id="country" type="text" formControlName="country"/>
        <small *ngIf="countryFocused && eventForm.get('location.country')!.hasError('required')">El país es <span>requerido</span>!</small>
        <small *ngIf="eventForm.get('location.country')!.hasError('pattern')">Ingrese dos letras mayúsculas para indicar el país</small>
      </div>
    </div>

    <button type="submit" [disabled]="eventForm.invalid" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
  </form>
</div>
